.playButton {
  background: var(---white);
  width: 2.5rem;
  height: 2.5rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
  z-index: 50;
  
  background: var(--white);
  border: 1px solid var(--gray-100);
  border-radius: 0.625rem;

  margin-top: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: filter 0.2s;

  img {
    max-width: 1.5rem;
    max-height: 1.5rem;
  }

  &:hover {
    filter: brightness(0.95),
  }
}