.playButton {
  background: var(---white);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 50;
  
  border: 1px solid var(--gray-100);
  border-radius: 0.625rem;

  margin-top: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 1.5rem;
    height: 1.5rem;
  }
}